<!DOCTYPE html>
<html lang="en">
  <%- include ('head')%>
  <body>
    <header><%- include ('navbar') %></header>
    <main class="container">
      <div class="row">
        <h2>Usuario Registrado</h2>
        <button onclick="location.href='/'">Ir al login</button>
      </div>
    </main>
  </body>
</html>
