<!DOCTYPE html>
<html lang="en">
  <%- include ('head')%>
  <body>
    <header><%- include ('navbar')%></header>
    <main class="container">
      <div class="row border m-4 p-4">
        <h1 class="text-center">Login</h1>
        <form action="/auth" method="get" class="d-flex flex-column p-4">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Ingresa tu usuario"
            class="mb-3"
          />

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Ingresa tu password"
            class="mb-3"
          />
          <button class="btn btn-secondary">Login</button>
        </form>
        <div class="m-4 p-4">
          <button class="btn btn-secondary" type="submit">Registrarse</button>
        </div>
      </div>
    </main>
  </body>
</html>
